<section id="about-me">
  <div class="container about-me-con">
    <h2 class="main-title">ABOUT <span class="green-text">ME</span></h2>
    <div class="profile-section">
        <div class="about-content">
            <picture>
              <source srcset="
                      ./img/about-me/about-desc@1x.webp 1x,
                      ./img/about-me/about-desc@2x.webp 2x
                    " media="(min-width: 1280px)" />
              <source srcset="
                      ./img/about-me/about-tab@1x.webp 1x,
                      ./img/about-me/about-tab@2x.webp 2x
                    " media="(min-width: 768px)" />
              <source srcset="
                      ./img/about-me/about-mob@1x.webp 1x,
                      ./img/about-me/about-mob@2x.webp 2x
                    " media="(max-width: 767px)" />
              <img src="./img/about-me/about-mob@1x.webp" 
              alt="Lloyd Jefferson hold laptop" class="photo" 
              />
            </picture>
            <div class="about-bio">
              <h3 class="title-bio">BIO</h3>
              <p class="bio-p first">
                I'm Lloyd Jefferson, a talented programmer specializing in software
                development. My expertise spans various programming languages and
                technologies, and I am dedicated to continually enhancing my skills.
                I thrive on seeking unconventional and creative solutions to
                problems, leveraging a high level of analytical skills to
                effectively tackle even the most challenging tasks.
              </p>
              <p class="bio-p">
                Adaptable to both independent and team-oriented work, I collaborate
                seamlessly with colleagues, exchanging ideas and finding optimal
                solutions. My professional maturity enables me to navigate
                challenges and stressful situations with a calm demeanor,
                maintaining a consistently high quality of work. Committed to
                self-improvement, I actively engage in studying new technologies and
                practices to stay current with the latest innovations in the field.
              </p>
            </div>
        </div>
      </div>
        <div class="about-edrole">
            <ul class="about-edrole-list">
              <li class="about-list-item">
                <h3 class="title-bio">EDUCATION</h3>
                <ul class="info-ul">
                  <li class="info-li">
                    2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
                  </li>
                  <li class="info-li">
                    2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
                    New York
                  </li>
                  <li class="info-li">
                    2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                  </li>
                </ul>
              </li>
              <li class="about-list-item">
                <h3 class="title-bio">ROLE</h3>
                <ul class="info-ul">
                  <li class="info-li">Frontend development</li>
                  <li class="info-li">HeadlessCMS, Wordpress</li>
                  <li class="info-li">Blender (enjoy)</li>
                </ul>
              </li>
            </ul>
        </div>
  </div>
</section>
