
  <section class="projects-section">
    <div class="container">
      <h2 class="projects-title">
        <span class="black-text">MY</span> <span class="green-text">PROJECTS</span>
      </h2>
  
      <ul class="projects-list">
        
        <!-- Проект 1 -->
        <li class="project-item">
          <picture class="project-picture">
            <source srcset="../img/projects/wallet-1x-desk.jpg, ../img/projects/wallet-2x-desk.jpg" media="(min-width: 1158px)">
            <img src="../img/projects/wallet-1x-desk.jpg" alt="Wallet Webservice" class="project-image">
          </picture>
  
          <div class="project-info">
            <p class="project-tech">React, JavaScript, Node.js, Git</p>
  
            <div class="project-header">
              <h3 class="title">Wallet Webservice</h3>
              <div class="visit-button-wrapper">
                <a href="https://github.com/aleks-zhiv/CodeNova.git" target="_blank" class="visit-button">
                 Visit
                 <svg class="visit-icon" width="24" height="24">
                      <use href="./img/icons.svg#icon-visit"></use>
                </svg>
                </a>
            </div>
            </div>
          </div>
        </li>
  
        <!-- Проект 2 -->
        <li class="project-item">
          <picture class="project-picture">
            <source srcset="../img/projects/green-1x-desk.jpg, ../img/projects/green-2x-desk.jpg" media="(min-width: 1158px)">
            <img src="../img/projects/green-1x-desk.jpg" alt="Green Harvest" class="project-image">
          </picture>
  
          <div class="project-info">
            <p class="project-tech">HTML, CSS, JavaScript, Parcel</p>
  
            <div class="project-header">
              <h3 class="title">Green Harvest</h3>
              <div class="visit-button-wrapper">
                <a href="https://github.com/aleks-zhiv/CodeNova.git" target="_blank" class="visit-button">
                 Visit
                 <svg class="visit-icon" width="24" height="24">
                      <use href="./img/icons.svg#icon-visit"></use>
                </svg>
                </a>
            </div>
            </div>
          </div>
        </li>
  
        <!-- Проект 3 -->
        <li class="project-item">
          <picture class="project-picture">
            <source srcset="../img/projects/energy-1x-desk.jpg, ../img/projects/energy-2x-desk.jpg" media="(min-width: 1158px)">
            <img src="../img/projects/energy-1x-desk.jpg" alt="Energy Flow" class="project-image">
          </picture>
  
          <div class="project-info">
            <p class="project-tech">HTML, CSS, JavaScript, Vite</p>
  
            <div class="project-header">
              <h3 class="title">Energy Flow</h3>
              <div class="visit-button-wrapper">
                <a href="https://github.com/aleks-zhiv/CodeNova.git" target="_blank" class="visit-button">
                 Visit
                 <svg class="visit-icon" width="24" height="24">
                      <use href="./img/icons.svg#icon-visit"></use>
                </svg>
                </a>
            </div>
            </div>
          </div>
        </li>
  
      </ul>
  
      <button class="load-more-btn" type="button">Load More</button>
    </div>
    
  </section>

