<section>
  <div>
    <h2 class="hidden-title">TECHSKILLS</h2>
    <div class="marquee">
      <div class="innerLine">
        <!-- Перший рядок з повним контентом -->
        <p class="topline">
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>JAVASCRIPT</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>NODE. JS</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT NATIVE</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>HTML/CSS</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>TYPESCRIPT</span>
        </p>
        <!-- Другий рядок дублює повністю перший -->
        <p class="topline">
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>JAVASCRIPT</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>NODE. JS</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT NATIVE</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>HTML/CSS</span>
          <svg class="green-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>TYPESCRIPT</span>
        </p>
      </div>
    </div>
    <div class="marquee marquee--tilted">
      <div class="innerLine">
        <p class="topline bottom">
          <span>JAVASCRIPT</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>NODE. JS</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT NATIVE</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>HTML/CSS</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>TYPESCRIPT</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
        </p>
        <p class="topline bottom">
          <span>JAVASCRIPT</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>NODE. JS</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>REACT NATIVE</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>HTML/CSS</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
          <span>TYPESCRIPT</span>
          <svg class="black-dot" width="24" height="24">
            <use href="./img/icons.svg#icon-dot"></use>
          </svg>
        </p>
      </div>
    </div>
  </div>
</section>
