<div class="container">
    <h1 class="hidden-title">TECHSKILLS</h1>
    
    <div class="marquee">
        <div class="innerLine">
            <!-- Перший рядок з повним контентом -->
            <p class="topline">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>JAVASCRIPT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>REACT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>NODE. JS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>REACT NATIVE</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>HTML/CSS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>TYPESCRIPT</span>
            </p>
            <!-- Другий рядок дублює повністю перший -->
            <p class="topline">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>JAVASCRIPT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>REACT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>NODE. JS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>REACT NATIVE</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>HTML/CSS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#00B068" />
                </svg>
                <span>TYPESCRIPT</span>
            </p>
        </div>
    </div>
    <div class="marquee marquee--tilted">
        <div class="innerLine">
            <p class="topline bottom">
                <span>JAVASCRIPT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>REACT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>NODE. JS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>REACT NATIVE</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>HTML/CSS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>TYPESCRIPT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
            </p>
            <p class="topline bottom">
                <span>JAVASCRIPT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>REACT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>NODE. JS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>REACT NATIVE</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>HTML/CSS</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
                <span>TYPESCRIPT</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="2" transform="matrix(-1 0 0 1 16 8)" fill="#292929" />
                </svg>
            </p>
        </div>
    </div>
</div>