.about-me-con{
  position: relative;
}

.main-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}

.profile-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.photo {
  width: 320px;
  border-radius: 16px;
}

.about-edrole-list{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.first {
  margin-bottom: 24px;
}

.title-bio {
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.bio-p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
}

.info-ul {
  list-style-type: disc;
}
.info-li::marker {
  color: var(--accet-green);
}


.info-ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-left: 32px;
  color: var(--black);
}

/* Tablet */
@media (min-width: 768px) {
  .about-me-con::after {
    content: '';
    width: 336px;
    height: 252px;
    background-image: url('../img/about-me/about-bg@1x.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    right: 32px;
    bottom: 156px;
  }

  @media screen and (min-device-pixel-ratio: 2),(min-resolution:192dpi) {
      .about-me-con::after {
        background-image: url('../img/about-me/about-bg@2x.webp');
      }
    }

  .main-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .profile-section {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .photo {
    margin-top: 368px;
    width: 336px;
    flex-shrink: 0;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
  }

  .about-bio{
    flex: 1;
  }

  .about-edrole {
    width: 100%;
  }

  .about-edrole-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-top: 60px;
  }
  
  .about-edrole-list .about-list-item {
    flex: 1;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .about-me-con::after {
      width: 384px;
      height: 288px;
      bottom: 264px;
  } 
  
  .photo {
    margin-top: 272px;
    margin-left: 208px;
    width: 384px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    gap: 136px;
    align-items: flex-start;
  }
  
  .about-bio {
    max-width: 488px;
  }

  .about-edrole {
    margin-left: 208px;
  }
  
    .about-edrole-list {
      display: flex;
      flex-direction: row;
      gap: 136px;
      margin-top: 80px;
    }
  
    .about-list-item {
      max-width: 384px;
    }
}
