:root {
  --black: #292929;
  --accet-green: #00B068;
  --white: #F0F0F0;
  --light-grey: #E4E5E6;
  --hover-grey: #BBBBBB;
  --light-accet: #BCDFD1;
  --hover: #009156;
  --error: #E74A3B;
  --black-modal: rgba(41, 41, 41, 0.8);
  --white-modal: #F0F0F0;
  --light-grey-form: #E4E5E6;
  --footer-line-color: #E4E5E6;
  --font-family: "Poppins", sans-serif;
  --second-family: "ImpactCustom", sans-serif;
  --third-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--white);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

body.dark-theme {
  --white: #1E2023;
  --black: #F0F0F0;
  --accet-green: #14C57C;
  --light-grey: #3B3F45;
  --hover-grey: #5A5D63;
  --light-accet: #204136;
  --black-modal: rgba(30, 32, 35, 0.8);
  --white-modal: #2A2D32;
  --light-grey-form: #2A2D32;
  --footer-line-color: #F0F0F0;
}

body:has(.mobile-menu.is-open) {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

.green-text {
  color: var(--accet-green);
}
