/* --------------- Container --------------- */
.footer-container {
  border-top: 1px solid var(--footer-line-color);
}

@media screen and (max-width: 767.98px) {
  .footer-container {
    padding: 40px 20px 24px 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 40px 32px 24px 32px;
  }
}

.footer-social-container {
  margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .footer-social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* --------------- General --------------- */

.footer {
  font-family: var(--font-family);
  color: var(--black);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* --------------- Logo --------------- */


.footer-logo {
  font-family: var(--second-family);
  display: block;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 32px;
}

@media screen and (min-width: 1280px) {
  .footer-logo {
    padding-bottom: 0;
  }
}

.footer-logo-accent {
  color: var(--accet-green);
}

/* --------------- Social --------------- */

.footer-social-list {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .footer-social-list {
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social-list {
    flex-direction: row;
    gap: 40px;
  }
}

.footer-social-item:hover {
  color: var(--accet-green);
}

.footer-social-item {
  transition: color 0.3s ease;
}

/* --------------- Copyright --------------- */

.footer-copyright {
  max-width: 197px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    max-width: 351px;
    margin-right: 0;
  }
}
