.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.work-together {
    font-family: var(--font-family);
    color: var(--black);
    letter-spacing: 0.03em;
    font-weight: 400;
}

.work-together .container {
    position: relative;
}

@media screen and (min-width: 768px) {
    .work-together .container::after {
        content: '';
        position: absolute;
        top: -116px;
        right: 32px;
        width: 336px;
        height: 260px;
        background: url("../img/work-together/bg-tbl.png") no-repeat;
        z-index: -1;
    }
}

@media screen and (min-width: 1280px) {
    .work-together .container::after {
        top: -120px;
        width: 526px;
        height: 408px;
        background: url("../img/work-together/bg-desc.png") no-repeat;
    }
}

/* --------------- Title --------------- */
/* #region */
.work-together-title {
    font-family: var(--second-family);
    line-height: 1.23;
    text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
    .work-together-title {
        font-size: 52px;
        line-height: 1.23;
        width: 253px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .work-together-title {
        font-size: 108px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .work-together-title {
        margin-bottom: 80px;
        width: 513px;
    }
}

.work-together-title-accent {
    color: var(--accet-green);
}
/* #endregion */

/* --------------- Contacts --------------- */
/* #region */
@media screen and (min-width: 1280px) {
    .work-together-flex-cont {
        display: flex;
        justify-content: space-between;
    }
}

.work-together-text {
    font-size: 18px;
    line-height: 1.55;
    text-transform: uppercase;
    max-width: 320px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .work-together-text {
        font-size: 20px;
        line-height: 1.6;
        max-width: 488px;
    }
}

@media screen and (min-width: 1280px) {
    .work-together-text {
        margin-bottom: 120px;
    }

    .work-together-contacts {
        width: 488px;
    }
}

.work-together-contacts-list {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .work-together-contacts-list {
        flex-direction: row;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .work-together-contacts-list {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.work-together-contacts-item {
    position: relative;
    padding-left: 40px;
    transition: color 0.3s ease;
}

.work-together-contacts-item:hover {
    color: var(--accet-green);
}

.work-together-contacts-item svg {
    position: absolute;
    fill: transparent;
    stroke: var(--accet-green);
    top: 0;
    left: 0;
    cursor: pointer;
}
/* #endregion */

/* --------------- Form --------------- */
/* #region */
.work-together-form {
    position: relative;
}

.form-input-email {
    padding: 12px 16px;
    height: 48px;
    color: var(--black);
}

.no-valid {
    color: var(--error);
}

.success-filled {
    position: absolute;
    display: inline-block;
    right: 16px;
    top: 16px;
}

.invalid-email {
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: var(--error);
    top: 52px;
    left: 0;
}

.form-message {
    resize: none;
    padding: 16px;
    height: 128px;
    color: var(--black);
}

.form-input-email,
.form-message {
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    background: var(--light-grey-form);
    margin-bottom: 32px;
}

.form-input-email:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--light-grey-form) inset !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--light-grey-form) inset !important;
    -webkit-text-fill-color: var(--black) !important;
    border: none !important;
    outline: none !important;
    background-clip: content-box !important;
}

.form-input-email::placeholder,
.form-message::placeholder {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--black);
}

.work-together-btn {
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    width: 100%;
    background-color: var(--accet-green);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f0f0f0;
    transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) {
    .work-together-btn {
        width: 173px;
    }
}

.work-together-btn:hover {
    background-color: var(--hover);
}
/* #endregion */

/* --------------- Modal --------------- */
/* #region */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-modal);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    font-family: var(--font-family);
    border-radius: 16px;
    width: 320px;
    height: 328px;
    padding: 48px 32px;
    background-color: var(--white-modal);
    text-align: center;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 492px;
        height: 280px;
        padding: 64px;
        background-color: var(--white-modal);
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.modal-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accet-green);
    margin-bottom: 16px;
}

.modal-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}

.modal-close {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 16px;
    stroke: var(--black);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .modal-close {
        top: 20px;
        right: 20px;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}
/* #endregion */

/* --------------- iziToast --------------- */
/* #region */
.iziToast {
    background-color: var(--error) !important;
    opacity: 1 !important;
}

.iziToast-body {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
}

.iziToast-title {
    width: 100% !important;
    margin-bottom: 6px !important;
}

.iziToast-message, .iziToast-title {
    color: #f0f0f0 !important;
}
.iziToast-title {
    text-align: center !important;
}
/* #endregion */

